.login-image
{
    border-radius: 1rem;
    margin-top: 100px;
    height: 350px;
    width: 350px;
}
.main
{
    
    width: 800px;
    height: 800px;
    display: flex;
}
.login-input
{
    
    margin-bottom: 20px;
    margin-left: 45px;
    border-color: blue;
    border: 2px solid blue;
    border-radius: 50px 50px;
    background: transparent;
    height: 40px;
    width: 300px;
}
.login-userlabel
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    margin-right: 225px;
}
.login-branchlabel
{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    margin-right: 245px;
}
.login-form
{
   
    width: 50%;
    height: 550px;
    border-radius:  0px 15px 15px 0px;
    background-color: white;
    margin-top: 100px;
}
.login-imgheader
{
    border-radius:  15px 0px 0px 15px;
    margin-top: 100px;
    width: 50%;
    height: 550px;
    background-color: rgb(55, 13, 95);
}
.login-header1
{
margin-left: 250px;
    width: 550px;
    height: 500px;
}
.login-option
{
  margin-left: 50px;
    border-color: blue;
    border: 2px solid blue;
    border-radius: 50px 50px;
    background: transparent;
    height: 40px;
    width: 300px;
    color: rgb(15, 10, 13);
}
.login-header
{
  height: 1500px; 
    width: 1500px;
    background-color:rgb(221, 218, 215);
    background-size: cover;
    background-position: center;
    
}
.login-button
{
    margin-top: 30px;
    background-color:  rgb(34, 7, 63);
    border: 1px solid  rgb(34, 7, 63);
    border-radius: 50px 50px;
    color: white;
    height: 40px;
    width: 300px;
    
}

h1
{
    color:  rgb(34, 7, 63);
    padding-top: 10px;
}
.login-social
{
    display:inline;
    justify-content:flex-start;
}
.sty
{
    text-decoration: none;
    list-style-type: none;
}


 
.fonts
{ 
   
    text-align: left;
    padding-left: 80px;
    font-size: 13px;
}
.sings
{   margin-left: 0px;
    margin-bottom: 80px;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .login-header1 {
        
        display: inline-block;
        margin-left: 300px;
        background-position: center;
    }
    
    .main{
        display: inline-block;
    }
    .login-imgheader {
      text-align: center;
    }
    .login-image {
      max-width: 100%;
      height: auto;
    }
    .login-form {
      margin-top: 20px;
    }
    .login-input {
      width: 300px;

    }
    .login-button {
      width: 300px;
    }
    .login-social {
      display: inline-block;
      justify-content: center;
      margin-bottom: 10px;
    }
    .fonts {
      text-align: left;
    }
    .login-header
{
 background-size: cover;
 background-color:rgb(221, 218, 215);
}

}
@media screen and (max-width: 417px) {
    .login-header1
    {
  display: inline;
  margin-right:200px ;
  background-position: center;
    }
    
}
  
  