.login-image
{
    border-radius: 1rem;
    margin-top: 125px;
    height: 300px;
    width: 300px;
}
.forms
{
    margin-top: 15px;

}
.header
{ 
    position: fixed;
    width: 100%;
    height: 700px;
    padding-top: 50px;
    background-color:rgb(221, 218, 215);
}
.input-box
{       
        padding: 1px;
        width: 100%;
        height: 40px;
        margin:  5px 0px; 
}
.col2
{
    
    margin-right: 250px;
    height: 550px;
    background-color: white;
    border-radius:  0px 15px 15px 0px;
   
}
.col1
{
    margin-left: 250px;
    background-color: rgb(34, 7, 63);
    border-radius:  15px 0px 0px 15px;

}
.inputtext
{
    border-color: blue;
    border-radius: 1rem;
    width: 250px;
    height: 35px;
}
.p-user
{   
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-right: 180px;
}
.p-password
{
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-right: 180px;
}

.selector
{
    border-radius: 50px 50px;
    background: transparent;
    border-color: blue;
    border-radius: 1rem;
    width: 250px;
    height: 35px;
    border:solid 2px blue;
}
.drop
{
    background-color: blue;
    color: white;
    
}
.login-button
{
    margin-top: 30px;
    background-color:  rgb(34, 7, 63);
    border: 1px solid  rgb(34, 7, 63);
    border-radius: 50px 50px;
    color: white;
    width: 250px;
    height: 35px; 
}
.login-social
{
    display:inline;
    justify-content:flex-start;
}
.fonts
{ 
    font-size: 15px;
}
.sings
{   margin-left: 0px;
    text-decoration: none;
}
@media screen and (max-width:992px) {
    .header
    {
        display: inline;
    }

}
  /* Extra Small <=576 */
  @media screen and (max-width:576px) {
    .header
    {
        display: inline-block;
    }
    .main
    {
        display: inline-block;
    }
}